fastapi>=0.115.0
starlette>=0.47.2
uvicorn[standard]>=0.29.0
redis==5.0.4
aiokafka==0.13.0
pydantic==2.13.3
pydantic-settings==2.14.0
python-jose[cryptography]==3.5.0
pyasn1>=0.6.3
httpx==0.28.1
structlog==24.1.0
# Datadog APM + custom metrics
ddtrace==2.7.0
datadog==0.52.1
